# for prod
python-dotenv
tqdm
# for dev
black
flake8
loguru
pysnooper
# for test
pytest
pytest-cov
pytest-datadir
pytest-mock
pytest-xdist[psutil]
# for doc
sphinx
sphinx-rtd-theme
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
